h1 {
    color:rgb(179, 255, 0) ;
    background-color: rgb(255, 0, 0);
    width: 115px;
}

h1 styled-boxes li {

    background-color:rgb(117, 0, 65);
    margin-top: 15px; 
    margin-bottom: 15px;
}